{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Esta aplicacion se desarrollo usando django y python para pobrar una app funcional en la web.
            Puedes crear tareas,  darle importacia y seguimiento.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, nulla. 
        Officia reiciendis aliquid, quae rem, nam assumenda neque iure sit aperiam veniam debitis. 
        Assumenda quo soluta consectetur laboriosam enim repudiandae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laudantium modi quia unde voluptatem ratione, sit nobis alias. Dicta animi delectus vitae aspernatur facere. Quo veniam nobis molestiae odit qui?
        </p>
        <div class="text-center">
            <a href="/signup/" class="btn btn-secondary">Registrarse</a>
            <a href="/signin/" class="btn btn-dark">Iniciar Sesion</a>
        </div>
    </section>
    
</main>




{% endblock %}

